body {
    background-color: #1a1a1a;
    color: #00ff41; 
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1 { 
    font-family:'Seven Segment', monospace;
   font-size: 5rem;
    margin-bottom: 20px;
}
button {
    background: transparent;
    border: 2px solid #00ff41;
    color: #00ff41;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}
.buttons {
    display: flex;
    gap: 20px; /* Separación entre botones */
}

button {
    background: transparent;
    border: 2px solid #00ff41;
    color: #00ff41;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #00ff41;
    color: #000; /* Efecto invertido al pasar el ratón */
}